<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{45, 44}</string>
                <key>textureRect</key>
                <string>{{622, 375},{160, 18}}</string>
            </dict>

            <key>rock.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{45, 44}</string>
                <key>textureRect</key>
                <string>{{514, 528},{80, 18}}</string>
            </dict>


        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>block.png</string>
            <key>size</key>
            <string>{791, 739}</string>
        </dict>
    </dict>
</plist>
